extends layout

block content
  script.
    $(function(){
      var socket = io();

      $('#msgBtn').click(function(){
        if ($('#msgInput').val() != '') {
          var msg = $('#msgInput').val() + '\n';
          var allMsg = $('#msgTextarea').val() + '#{name}' + ' : ' + msg;
          socket.emit('chat message', allMsg);
          $('#msgInput').val('');
          $.post(window.location.href, { name: '#{name}', chat: msg});
        }
      });

      socket.on('chat message', function(msg){
        if (msg != "") {
          $('#msgTextarea').val(msg);
        } else {
        $.getJSON(window.location.href, function(data) {
            $('#msgTextarea').val(data);
          });
        }
      });

      //should look at this code because it does nothing
      //$('#msgInput').keypressed(function() {
      //	console.log("key pressed");
      //	var code = e.keyCode || e.which;
      //	if (code == 13) {
      //    var msg = '#{name}' + ' : ' + $('#msgInput').val();
      //    $('#msgTextarea').val($('#msgTextarea').val() + msg + '\n');
      //    $('#msgInput').val('');
      // }
      //});
    
    });

  h1 You Are Chatting As #{name}
  textarea#msgTextarea(rows='10' cols='80')
  br
  input#msgInput(type='text')
  input#msgBtn(type='button' value='Send')