extends layout

block content
  div(ng-show="!chat.isReg()" class="alert alert-block")
    div
      name-form

  div(class="row" ng-show="chat.isReg()")
    div(class="container col-xs-offset-1 col-xs-6")
      chat-room
    div(class="container col-xs-3")
      members-list

  script(src='/js/bundle.js')
  script(src="/socket.io/socket.io.js").
    var socket = io();


