doctype html
html(ng-app="myChatApp")
  head
    title=title
    link(rel='stylesheet', type='text/css' href='/js/bootstrap/dist/css/bootstrap.min.css')
    //link(rel='stylesheet', type='text/css' href='/css/chat.css')
    script(type='text/javascript' src='vendor/angular/angular.min.js')
    script(src='js/jquery-2.1.4.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript' src='vendor/angular-socket-io/socket.js')
    //script(type='text/javascript' src='/js/chat.js')
    script(type='text/javascript' src='/js/bootstrap/dist/css/bootstrap.min.css')

  body(ng-controller="ChatController as chat")
    block content